h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;
}

ul,
ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;  
}

img {
display: block;
}

.list {
list-style-type: none; 
}

.link {
text-decoration: none;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

body {
font-family: 'Roboto', sans-serif;  
color:#434455; 
background: #FFF;
}

.container {
max-width: 320px; 
padding-left: 16px;
padding-right: 16px;
margin-left: auto;
margin-right: auto;   
}

/* HEADER */
.header-container {
display: flex; 
justify-content: space-between;   
}
    
.header {
padding-top: 16px;
padding-bottom: 16px;    
border-bottom: 1px solid #E7E9FC;
background: #FFF;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
    
    .logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    
    .logo-text {
    color:#2E2F42;
    }
    
    .nav-menu-link {
    display: none;
    }
    
    .contacts-adress {
    display: none;    
    }
    
    .btn-mobile-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0; 
    cursor: pointer; 
    stroke: #2f2f37; 
    }
    
    /* TABLET */
    @media screen and (min-width: 768px) {
    .container {
    max-width: 768px;  
    }  
    
    .header {
    padding-top: 0;
    padding-bottom: 0;    
    }
    
    .header-container {
    align-items: center;
    }
     
    .btn-mobile-menu {
    display: none;
    }
    
    .nav-menu-link {
    display: flex;
    gap: 40px;
    }
    
    .menu-nav {
    display: flex;
    align-items: center;
    }
    
    .logo {
    margin-right: 120px;
    }
    
    .menu-link {
    display: block;
    color:#2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50; 
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .menu-link:hover,
    .menu-link:focus {
    color:#404BBF;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.66; 
    letter-spacing: 0.02em;
    }
    
    .menu-studio {
    color: #404BBF;
    position: relative;
    }
    
    .menu-studio::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background: #404BBF;
    position: absolute;
    left: 0;
    bottom: -1px;
    }
    
    .contacts-adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 12px;
    }
    
    .contacts-link {
    color: #434455;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    
    .contacts-link:hover,
    .contacts-link:focus {
    color:#404BBF;  
    }
    }